<div class="container">
  <div class="header">LIST</div>
  <div class="form">
    <input type="text" class="form__input" [formControl]="taskControl">
    <input type="submit" class="form__add" value="Add Task" (click)="addItemToStack()" [disabled]="taskControl.invalid">
  </div>

  <div class="list">
    <ng-container *ngFor="let item of [stack.peek()]; let i = index">
      <div class="list__item" *ngIf="item; else noItems">
        {{item}}
        <span class="list__del" (click)="deleteItem()">Delete</span>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #noItems>
  <div class="list__item">
    No items in stack
  </div>
</ng-template>
